<?xml version="1.0" ?>
<robot name="vertical_obstacle" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <!-- Include -->
  <xacro:include filename="$(find planar_structure)/urdf/obstacle_parameters.xacro" />
  <xacro:include filename="$(find planar_structure)/urdf/obstacle_link_joint.xacro" />
  
  <!-- Obstacle description -->
  <m_link_box name="${link_00_name}"
              origin_rpy="0 0 0" origin_xyz="0.75 2.35 2.0"
              mass="1000"
              ixx="800.0" ixy="0" ixz="0"
              iyy="800.0" iyz="0"
              izz="800.0"
              size="1.5 0.5 4.0" />
            
  <m_joint name="branch_joint" type="revolute"
           axis_xyz="1 0 0"
           origin_rpy="0 0 0" origin_xyz="0.75 2.1 1.75"
           parent="${link_00_name}" child="${link_01_name}"
           limit_e="1000" limit_l="-1.3" limit_u="1.3" limit_v="0.5"
           damping="0.01" friction="0.01" />
            
  <m_link_box name="${link_01_name}"
              origin_rpy="0 0 0" origin_xyz="0 -0.75 0"
              mass="0.1"
              ixx="0.01" ixy="0" ixz="0"
              iyy="0.01" iyz="0"
              izz="0.01"
              size="1 1.5 0.01" /> 

  <!-- <xacro:include filename="$(find planar_structure)/urdf/spring.gazebo" /> -->

  <!-- Macro for Torsional Joint Spring Plugin 
  <gazebo>
    <plugin name="joint_spring" filename="libjoint_torsional_spring_plugin.so">
      <kx>0.5</kx>
      <set_point>-1.2</set_point>
      <joint>branch_joint</joint>
    </plugin>
  </gazebo> -->

  <!-- Macro for Torsional Joint Spring Plugin -->
  <gazebo>
    <plugin name="joint_spring" filename="libjoint_torsional_spring_plugin.so">
      <kx>5</kx>
      <set_point>-0.02</set_point>
      <joint>branch_joint</joint>
    </plugin>
  </gazebo> 
  
  <!-- Macro to add the force vector arrow 
  <xacro:macro name="arrow_plugin">
    <gazebo reference="${link_01_name}">
      <plugin name="gazebo_visual_plugin" filename="librotors_gazebo_visual_plugin.so" />
    </gazebo>
  </xacro:macro>-->
 
</robot>
